#imagem {
    background-image: url("../image/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 300px;
}

body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #03C4EB;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #03c5ec;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Prelaoder */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

a {
    color: #337ab7;
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}

#card {
    width: 150px;                 /* Set width of cards */
    display: flex;                /* Children use Flexbox */
    flex-direction: column;       /* Rotate Axis */
    border: 1px solid #61b585;    /* Set up Border */
    border-radius: 4px;           /* Slightly Curve edges */
    overflow: hidden;             /* Fixes the corners */
    margin: 5px;                  /* Add space between cards */
}

#card-header {
    color: #24a562;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #61b585;
    background-color: #c0f9cc;
    padding: 5px 10px;
}

#card-main {
    display: flex;              /* Children use Flexbox */
    flex-direction: column;     /* Rotate Axis to Vertical */
    justify-content: center;    /* Group Children in Center */
    align-items: center;        /* Group Children in Center (on cross axis) */
    padding: 15px 0;            /* Add padding to the top/bottom */
}

#material-icons {
    font-size: 36px;
    color: #24a562;
    margin-bottom: 5px;
}

#main-description {
    color: #88cc96;
    font-size: 12px;
    text-align: center;
}

label.filtro_span > span {
    font-size: 13px;
    color: #707070;
}

.imagem_arma {
    max-width: 250px;
    max-height: 150px;
}

.btn-cadastro {
    background-color: #3274ad;
    border-radius: 4px;
    color: #fff;
    border: #ddd;
    font-size: 14px;
}
